In [1]:
import pandas as pd
market_df = pd.read_csv("global_sales_data/market_fact.csv")
market_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [2]:
customer_df = pd.read_csv("global_sales_data/cust_dimen.csv")
customer_df

           Customer_Name Province   Region Customer_Segment    Cust_id
0     MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS     Cust_1
1           BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER     Cust_2
2          CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE     Cust_3
3         CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER     Cust_4
4           CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE     Cust_5
...                  ...      ...      ...              ...        ...
1827      NICOLE BRENNAN  ALBERTA     WEST         CONSUMER  Cust_1828
1828       JASON FORTUNE  ALBERTA     WEST        CORPORATE  Cust_1829
1829        HARRY GREENE  ALBERTA     WEST        CORPORATE  Cust_1830
1830     GRANT DONATELLI  ALBERTA     WEST         CONSUMER  Cust_1831
1831          MICK BROWN  ALBERTA     WEST         CONSUMER  Cust_1832

[1832 rows x 5 columns]

In [3]:
product_df = pd.read_csv("global_sales_data/prod_dimen.csv")
product_df

   Product_Category            Product_Sub_Category  Prod_id
0   OFFICE SUPPLIES          STORAGE & ORGANIZATION   Prod_1
1   OFFICE SUPPLIES                      APPLIANCES   Prod_2
2   OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES   Prod_3
3        TECHNOLOGY    TELEPHONES AND COMMUNICATION   Prod_4
4         FURNITURE              OFFICE FURNISHINGS   Prod_5
5   OFFICE SUPPLIES                           PAPER   Prod_6
6   OFFICE SUPPLIES                    RUBBER BANDS   Prod_7
7        TECHNOLOGY            COMPUTER PERIPHERALS   Prod_8
8   OFFICE SUPPLIES                       ENVELOPES   Prod_9
9         FURNITURE                       BOOKCASES  Prod_10
10        FURNITURE                          TABLES  Prod_11
11  OFFICE SUPPLIES                          LABELS  Prod_12
12  OFFICE SUPPLIES             PENS & ART SUPPLIES  Prod_13
13       TECHNOLOGY                 COPIERS AND FAX  Prod_14
14        FURNITURE              CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES   SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                 OFFICE MACHINES  Prod_17

In [4]:
shipping_df = pd.read_csv("global_sales_data/shipping_dimen.csv")
shipping_df

      Order_ID       Ship_Mode   Ship_Date   Ship_id
0            3     REGULAR AIR  20-10-2010     SHP_1
1          293  DELIVERY TRUCK  02-10-2012     SHP_2
2          293     REGULAR AIR  03-10-2012     SHP_3
3          483     REGULAR AIR  12-07-2011     SHP_4
4          515     REGULAR AIR  30-08-2010     SHP_5
...        ...             ...         ...       ...
7696     55558  DELIVERY TRUCK  09-08-2010  SHP_7697
7697     55558     REGULAR AIR  11-08-2010  SHP_7698
7698     56550     EXPRESS AIR  10-04-2011  SHP_7699
7699     56550     REGULAR AIR  09-04-2011  SHP_7700
7700     56581     EXPRESS AIR  11-02-2009  SHP_7701

[7701 rows x 4 columns]

In [5]:
orders_df = pd.read_csv("global_sales_data/orders_dimen.csv")
orders_df

      Order_ID  Order_Date Order_Priority    Ord_id
0            3  13-10-2010            LOW     Ord_1
1          293  01-10-2012           HIGH     Ord_2
2          483  10-07-2011           HIGH     Ord_3
3          515  28-08-2010  NOT SPECIFIED     Ord_4
4          613  17-06-2011           HIGH     Ord_5
...        ...         ...            ...       ...
5501     47360  08-10-2010  NOT SPECIFIED  Ord_5502
5502     52706  09-07-2012            LOW  Ord_5503
5503     54279  30-07-2011           HIGH  Ord_5504
5504     55558  09-08-2010         MEDIUM  Ord_5505
5505     56581  08-02-2009           HIGH  Ord_5506

[5506 rows x 4 columns]

In [7]:
df_1 = pd.merge(market_df,customer_df, on="Cust_id", how="inner")
df_2 = pd.merge(df_1,product_df, on="Prod_id", how="inner")
df_3 = pd.merge(df_2,shipping_df, on="Ship_id", how="inner")
master_df = pd.merge(df_3,orders_df, on="Ord_id", how="inner")
master_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54,...,WEST,CORPORATE,OFFICE SUPPLIES,PENS & ART SUPPLIES,20513,EXPRESS AIR,08-07-2009,20513,07-07-2009,HIGH
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,39682,EXPRESS AIR,11-11-2010,39682,09-11-2010,MEDIUM
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38,...,WEST,CORPORATE,TECHNOLOGY,OFFICE MACHINES,54019,DELIVERY TRUCK,08-07-2009,54019,01-07-2009,LOW

In [8]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Ord_id                8399 non-null   object
 1   Prod_id               8399 non-null   object
 2   Ship_id               8399 non-null   object
 3   Cust_id               8399 non-null   object
 4   Sales                 8399 non-null   float64
 5   Discount              8399 non-null   float64
 6   Order_Quantity        8399 non-null   int64
 7   Profit                8399 non-null   float64
 8   Shipping_Cost         8399 non-null   float64
 9   Product_Base_Margin   8336 non-null   float64
 10  Customer_Name         8399 non-null   object
 11  Province              8399 non-null   object
 12  Region                8399 non-null   object
 13  Customer_Segment      8399 non-null   object
 14  Product_Category      8399 non-null   object
 15  Product_Sub_Category  8399 non-null   object
 16  Order_ID_x            8399 non-null   int64
 17  Ship_Mode             8399 non-null   object
 18  Ship_Date             8399 non-null   object
 19  Order_ID_y            8399 non-null   int64
 20  Order_Date            8399 non-null   object
 21  Order_Priority        8399 non-null   object
dtypes: float64(5), int64(3), object(14)
memory usage: 1.4+ MB

In [9]:
master_df['Cust_id'].nunique()

1832

In [10]:
master_df['Cust_id'].unique()

array(['Cust_1818', 'Cust_26', 'Cust_1641', ..., 'Cust_851', 'Cust_1519',
       'Cust_1798'], dtype=object)

In [11]:
master_df['Customer_Segment'].unique()

array(['CORPORATE', 'HOME OFFICE', 'SMALL BUSINESS', 'CONSUMER'],
      dtype=object)

In [12]:
master_df['Customer_Segment'].value_counts()

Customer_Segment
CORPORATE         3076
HOME OFFICE       2032
CONSUMER          1649
SMALL BUSINESS    1642
Name: count, dtype: int64

In [13]:
master_df[master_df['Customer_Segment']=="CORPORATE"]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54,...,WEST,CORPORATE,OFFICE SUPPLIES,PENS & ART SUPPLIES,20513,EXPRESS AIR,08-07-2009,20513,07-07-2009,HIGH
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,39682,EXPRESS AIR,11-11-2010,39682,09-11-2010,MEDIUM
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38,...,WEST,CORPORATE,TECHNOLOGY,OFFICE MACHINES,54019,DELIVERY TRUCK,08-07-2009,54019,01-07-2009,LOW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.16,0.04,46,100.22,4.98,0.40,...,ATLANTIC,CORPORATE,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,36294,REGULAR AIR,22-08-2012,36294,20-08-2012,MEDIUM
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.87,0.07,39,11.32,1.35,0.40,...,QUEBEC,CORPORATE,OFFICE SUPPLIES,RUBBER BANDS,58343,REGULAR AIR,11-01-2009,58343,09-01-2009,NOT SPECIFIED
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.06,0.04,4,-16.39,6.28,0.35,...,QUEBEC,CORPORATE,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,35360,REGULAR AIR,20-04-2011,35360,18-04-2011,CRITICAL
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.04,0.03,10,-335.06,35.00,NaN,...,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,10562,REGULAR AIR,12-11-2009,10562,11-11-2009,NOT SPECIFIED
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.41,0.00,44,34.68,0.98,0.52,...,YUKON,CORPORATE,OFFICE SUPPLIES,PENS & ART SUPPLIES,12708,EXPRESS AIR,12-01-2010,12708,07-01-2010,LOW

In [14]:
master_df['Product_Category'].value_counts()

Product_Category
OFFICE SUPPLIES    4610
TECHNOLOGY         2065
FURNITURE          1724
Name: count, dtype: int64

In [15]:
master_df['Profit'].min()

-14140.7

In [16]:
master_df['Profit'].max()

27220.69

In [18]:
master_df['Profit'].sum()

1521767.98

In [17]:
master_df[master_df['Profit']==master_df['Profit'].max()]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.0,13,27220.69,24.49,0.39,...,ATLANTIC,CONSUMER,TECHNOLOGY,OFFICE MACHINES,29766,REGULAR AIR,22-03-2009,29766,21-03-2009,MEDIUM

In [19]:
master_df[(master_df['Customer_Segment']=="HOME OFFICE") & (master_df["Product_Category"]=="OFFICE SUPPLIES")]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.00,0.01,33,45.84,0.71,0.52,...,WEST,HOME OFFICE,OFFICE SUPPLIES,PENS & ART SUPPLIES,46662,REGULAR AIR,31-12-2011,46662,29-12-2011,CRITICAL
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.22,0.07,8,-27.72,6.60,0.37,...,WEST,HOME OFFICE,OFFICE SUPPLIES,PAPER,46662,REGULAR AIR,31-12-2011,46662,29-12-2011,CRITICAL
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.01,0.01,43,1675.98,0.99,0.56,...,WEST,HOME OFFICE,OFFICE SUPPLIES,APPLIANCES,48294,REGULAR AIR,26-05-2010,48294,26-05-2010,HIGH
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.90,0.05,38,79.34,4.86,0.38,...,ATLANTIC,HOME OFFICE,OFFICE SUPPLIES,PAPER,27559,REGULAR AIR,31-10-2011,27559,30-10-2011,HIGH
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011,37863,24-02-2011,HIGH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Ord_3574,Prod_16,SHP_4948,Cust_1274,416.99,0.02,32,-93.62,4.59,0.82,...,PRARIE,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",27426,EXPRESS AIR,02-03-2010,27426,23-02-2010,LOW
8365,Ord_3588,Prod_3,SHP_4968,Cust_1274,107.63,0.00,15,-29.89,5.48,0.37,...,PRARIE,HOME OFFICE,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,34913,REGULAR AIR,24-11-2011,34913,22-11-2011,MEDIUM
8366,Ord_3593,Prod_3,SHP_4974,Cust_1274,12073.06,0.03,39,5081.87,19.99,0.38,...,PRARIE,HOME OFFICE,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,36835,REGULAR AIR,22-10-2009,36835,20-10-2009,CRITICAL
8368,Ord_3574,Prod_6,SHP_4947,Cust_1274,438.66,0.01,41,58.86,4.78,0.40,...,PRARIE,HOME OFFICE,OFFICE SUPPLIES,PAPER,27426,REGULAR AIR,25-02-2010,27426,23-02-2010,LOW
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.26,0.02,41,515.62,1.49,0.38,...,PRARIE,HOME OFFICE,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,56064,REGULAR AIR,29-10-2009,56064,29-10-2009,MEDIUM

In [21]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Ord_id                8399 non-null   object
 1   Prod_id               8399 non-null   object
 2   Ship_id               8399 non-null   object
 3   Cust_id               8399 non-null   object
 4   Sales                 8399 non-null   float64
 5   Discount              8399 non-null   float64
 6   Order_Quantity        8399 non-null   int64
 7   Profit                8399 non-null   float64
 8   Shipping_Cost         8399 non-null   float64
 9   Product_Base_Margin   8336 non-null   float64
 10  Customer_Name         8399 non-null   object
 11  Province              8399 non-null   object
 12  Region                8399 non-null   object
 13  Customer_Segment      8399 non-null   object
 14  Product_Category      8399 non-null   object
 15  Product_Sub_Category  8399 non-null   object
 16  Order_ID_x            8399 non-null   int64
 17  Ship_Mode             8399 non-null   object
 18  Ship_Date             8399 non-null   object
 19  Order_ID_y            8399 non-null   int64
 20  Order_Date            8399 non-null   object
 21  Order_Priority        8399 non-null   object
dtypes: float64(5), int64(3), object(14)
memory usage: 1.4+ MB

In [23]:
master_df['Order_Date'] = pd.to_datetime(master_df['Order_Date'], format="%d-%m-%Y")

%d => 01-31
%m => 01-12
%Y => 2012,2015
%y => 12,25 (year without century)
%b  => Jan, Feb, Mar
%B  => January, February
%M  => Minutes
%H => Hours
%S => Seconds

In [24]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Ord_id                8399 non-null   object
 1   Prod_id               8399 non-null   object
 2   Ship_id               8399 non-null   object
 3   Cust_id               8399 non-null   object
 4   Sales                 8399 non-null   float64
 5   Discount              8399 non-null   float64
 6   Order_Quantity        8399 non-null   int64
 7   Profit                8399 non-null   float64
 8   Shipping_Cost         8399 non-null   float64
 9   Product_Base_Margin   8336 non-null   float64
 10  Customer_Name         8399 non-null   object
 11  Province              8399 non-null   object
 12  Region                8399 non-null   object
 13  Customer_Segment      8399 non-null   object
 14  Product_Category      8399 non-null   object
 15  Product_Sub_Category  8399 non-null   object
 16  Order_ID_x            8399 non-null   int64
 17  Ship_Mode             8399 non-null   object
 18  Ship_Date             8399 non-null   object
 19  Order_ID_y            8399 non-null   int64
 20  Order_Date            8399 non-null   datetime64[ns]
 21  Order_Priority        8399 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(3), object(13)
memory usage: 1.4+ MB

In [25]:
master_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,2010-07-27,NOT SPECIFIED
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54,...,WEST,CORPORATE,OFFICE SUPPLIES,PENS & ART SUPPLIES,20513,EXPRESS AIR,08-07-2009,20513,2009-07-07,HIGH
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,2010-07-27,NOT SPECIFIED
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,39682,EXPRESS AIR,11-11-2010,39682,2010-11-09,MEDIUM
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38,...,WEST,CORPORATE,TECHNOLOGY,OFFICE MACHINES,54019,DELIVERY TRUCK,08-07-2009,54019,2009-07-01,LOW

In [26]:
# Orders places after 2012-01-01

master_df[master_df['Order_Date']>"2012-01-01"]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42,...,QUEBEC,SMALL BUSINESS,FURNITURE,OFFICE FURNISHINGS,33956,REGULAR AIR,21-01-2012,33956,2012-01-19,LOW
38,Ord_5035,Prod_12,SHP_7025,Cust_1710,416.8000,0.01,32,223.38,0.50,0.38,...,WEST,SMALL BUSINESS,OFFICE SUPPLIES,LABELS,18596,REGULAR AIR,04-10-2012,18596,2012-10-02,LOW
40,Ord_5035,Prod_15,SHP_7024,Cust_1710,4917.6900,0.02,42,126.31,30.00,0.71,...,WEST,SMALL BUSINESS,FURNITURE,CHAIRS & CHAIRMATS,18596,DELIVERY TRUCK,04-10-2012,18596,2012-10-02,LOW
46,Ord_4690,Prod_2,SHP_6545,Cust_1579,904.1200,0.07,4,28.81,11.79,0.42,...,WEST,CORPORATE,OFFICE SUPPLIES,APPLIANCES,43043,REGULAR AIR,16-04-2012,43043,2012-04-14,CRITICAL
48,Ord_4622,Prod_12,SHP_6437,Cust_1579,56.2600,0.00,14,28.11,0.50,0.38,...,WEST,CORPORATE,OFFICE SUPPLIES,LABELS,33702,EXPRESS AIR,03-09-2012,33702,2012-09-02,NOT SPECIFIED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,21729,REGULAR AIR,10-12-2012,21729,2012-12-06,LOW
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40,...,ATLANTIC,CORPORATE,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,36294,REGULAR AIR,22-08-2012,36294,2012-08-20,MEDIUM
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58,...,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",32610,REGULAR AIR,20-08-2012,32610,2012-08-19,NOT SPECIFIED
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58,...,WEST,CONSUMER,TECHNOLOGY,TELEPHONES AND COMMUNICATION,32610,REGULAR AIR,20-08-2012,32610,2012-08-19,NOT SPECIFIED
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40,...,WEST,CONSUMER,OFFICE SUPPLIES,PAPER,12356,REGULAR AIR,21-10-2012,12356,2012-10-18,CRITICAL