In [1]:
import pandas as pd

market_df = pd.read_csv("global_sales_data/market_fact.csv")
customer_df = pd.read_csv("global_sales_data/cust_dimen.csv")
product_df = pd.read_csv("global_sales_data/prod_dimen.csv")
shipping_df = pd.read_csv("global_sales_data/shipping_dimen.csv")
orders_df = pd.read_csv("global_sales_data/orders_dimen.csv")

df_1 = pd.merge(market_df, customer_df, how='inner', on='Cust_id')
df_2 = pd.merge(df_1, product_df, how='inner', on='Prod_id')
df_3 = pd.merge(df_2, shipping_df, how='inner', on='Ship_id')
master_df = pd.merge(df_3, orders_df, how='inner', on='Ord_id')

In [2]:
master_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54,...,WEST,CORPORATE,OFFICE SUPPLIES,PENS & ART SUPPLIES,20513,EXPRESS AIR,08-07-2009,20513,07-07-2009,HIGH
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,39682,EXPRESS AIR,11-11-2010,39682,09-11-2010,MEDIUM
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38,...,WEST,CORPORATE,TECHNOLOGY,OFFICE MACHINES,54019,DELIVERY TRUCK,08-07-2009,54019,01-07-2009,LOW

In [5]:
# Which customer segments are the least profitable? 

# Customer Segment => Group => Profit for each group => Sum

# Step1: Grouping : First we will group the dataframe by customer segments
df_by_segment = master_df.groupby("Customer_Segment")

# Step2: Apply the function
# We can choose aggregated functions such as sum, mean, median etc
pd.DataFrame(df_by_segment["Profit"].sum().sort_values(ascending=True))

                     Profit
Customer_Segment
CONSUMER          287959.94
SMALL BUSINESS    315708.01
HOME OFFICE       318354.03
CORPORATE         599746.00

In [7]:
pd.DataFrame(master_df.groupby("Customer_Segment")["Profit"].sum().sort_values(ascending=True))

                     Profit
Customer_Segment
CONSUMER          287959.94
SMALL BUSINESS    315708.01
HOME OFFICE       318354.03
CORPORATE         599746.00

In [9]:
# E.g.: Which product categories are the most profitable?
pd.DataFrame(master_df.groupby("Product_Category")["Profit"].sum().sort_values(ascending=False))

                     Profit
Product_Category
TECHNOLOGY        886313.52
OFFICE SUPPLIES   518021.43
FURNITURE         117433.03

In [10]:
# E.g.: Which product categories are the most profitable?
pd.DataFrame(master_df.groupby("Product_Category")["Profit"].sum().sort_values(ascending=False)).iloc[0]

Profit    886313.52
Name: TECHNOLOGY, dtype: float64

In [13]:
# E.g. Calculate the Sales across each region as a percentage of total Sales
(master_df.groupby("Region").Sales.sum()/master_df.Sales.sum())*100

Region
ATLANTIC                 13.504305
NORTHWEST TERRITORIES     5.369193
NUNAVUT                   0.780233
ONTARIO                  20.536970
PRARIE                   19.022396
QUEBEC                   10.124936
WEST                     24.119372
YUKON                     6.542595
Name: Sales, dtype: float64

In [15]:
# E.g.: Which product categories and sub-categories are the least profitable?
master_df.groupby(['Product_Category', 'Product_Sub_Category'])['Profit'].sum()

Product_Category  Product_Sub_Category
FURNITURE         BOOKCASES                         -33582.13
                  CHAIRS & CHAIRMATS                149649.73
                  OFFICE FURNISHINGS                100427.93
                  TABLES                            -99062.50
OFFICE SUPPLIES   APPLIANCES                         97158.06
                  BINDERS AND BINDER ACCESSORIES    307413.39
                  ENVELOPES                          48182.60
                  LABELS                             13677.17
                  PAPER                              45263.20
                  PENS & ART SUPPLIES                 7564.78
                  RUBBER BANDS                        -102.67
                  SCISSORS, RULERS AND TRIMMERS      -7799.25
                  STORAGE & ORGANIZATION              6664.15
TECHNOLOGY        COMPUTER PERIPHERALS               94287.48
                  COPIERS AND FAX                   167361.49
                  OFFICE MACHINES                   307712.93
                  TELEPHONES AND COMMUNICATION      316951.62
Name: Profit, dtype: float64

In [17]:
grp_product_subproduct = master_df.groupby(['Product_Category', 'Product_Sub_Category'])['Profit'].sum().reset_index()

In [18]:
grp_product_subproduct

   Product_Category            Product_Sub_Category     Profit
0         FURNITURE                       BOOKCASES  -33582.13
1         FURNITURE              CHAIRS & CHAIRMATS  149649.73
2         FURNITURE              OFFICE FURNISHINGS  100427.93
3         FURNITURE                          TABLES  -99062.50
4   OFFICE SUPPLIES                      APPLIANCES   97158.06
5   OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES  307413.39
6   OFFICE SUPPLIES                       ENVELOPES   48182.60
7   OFFICE SUPPLIES                          LABELS   13677.17
8   OFFICE SUPPLIES                           PAPER   45263.20
9   OFFICE SUPPLIES             PENS & ART SUPPLIES    7564.78
10  OFFICE SUPPLIES                    RUBBER BANDS    -102.67
11  OFFICE SUPPLIES   SCISSORS, RULERS AND TRIMMERS   -7799.25
12  OFFICE SUPPLIES          STORAGE & ORGANIZATION    6664.15
13       TECHNOLOGY            COMPUTER PERIPHERALS   94287.48
14       TECHNOLOGY                 COPIERS AND FAX  167361.49
15       TECHNOLOGY                 OFFICE MACHINES  307712.93
16       TECHNOLOGY    TELEPHONES AND COMMUNICATION  316951.62

In [20]:
grp_product_subproduct.to_csv("output.csv", index=False)